.sectionRoomList {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.arrowBoxL {
  width: 200px;
  color: black;
  padding-left: 150px;
}
.arrowBoxR {
  width: 200px;
  color: black;
  padding-right: 200px;
}

a {
  text-decoration: none;
}

.roomListBox {
  width: 90%;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
