.sectionRoomList {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arrowBoxL {
  width: 200px;
  color: black;
  padding-left: 150px;
}
.arrowBoxR {
  width: 200px;
  color: black;
  padding-right: 200px;
}

a {
  text-decoration: none;
}

.roomListBox {
  width: 90%;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.selectbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.selectMain {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: white;
  font-weight: bold;
  border: none;
  background: url('../../images/svg/DropBoxIconDown.svg') no-repeat right;

  option {
  }
}
