.socialPageSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.socialBackGround {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
