@mixin commentsFormArea($width-size, $height-size) {
  width: $width-size;
  height: $height-size;
  font-size: 16px;
}

.commentsLayout {
  @include commentsFormArea(1040px, 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    height: 20%;
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
}

.commentsCount {
  @include commentsFormArea(1040px, 20px);
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 1);
}

.commentItem {
  @include commentsFormArea(1065px, 260px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 10px;
}
