.communityDetailBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

.communityDetailBackgroundImg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.detailBoxImg {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1142px;
  height: 752px;
  margin-top: 100px;
  background: url(../../../images/png/detailBack.png);
}

.detailMainBox {
  width: 1040px;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailPostBox {
  width: 1040px;
  height: 280px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    height: 20%;
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
}

.detailPostTitleBox {
  width: 1040px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 24px;
    color: white;
    margin: 0;
  }
}

.detailBtnBox {
  display: flex;
  gap: 10px;
  .detailsvgIcon {
    margin-right: 5px;
  }
  button {
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  button:hover {
    color: #1a1a1a;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
  }
}

.detailPostInformation {
  display: flex;
  width: inherit;
  color: rgba(179, 179, 179, 1);
  margin-bottom: 40px;

  .postInfoAuthor {
    font-size: 16px;
  }
  .postInfoElement {
    font-size: 16px;
    font-weight: 100;
    margin-left: 5px;
  }
}

.detailPostContent {
  width: inherit;
  height: 150px;
  color: white;
  white-space: pre;
  overflow-y: auto;

  .postContent {
    font-size: 16px;
  }
}
