@mixin commentArea($width-size, $height-size) {
  width: $width-size;
  height: $height-size;

  font-size: 16px;
}

.commentInputContainer {
  @include commentArea(1040px, 100px);

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;

  :focus {
    outline: none;
  }

  ::placeholder {
    color: rgba(77, 77, 77, 1);
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.commentInput {
  @include commentArea(925px, 100px);

  resize: none;
  overflow: hidden;

  padding: 20px 0 20px 20px;

  border: none;

  color: rgba(77, 77, 77, 1);
  background: transparent;
}

.commentInputBtn {
  @include commentArea(75px, 60px);

  margin: 0 20px 0 20px;

  border: none;
  border-radius: 10px;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);

  cursor: pointer;
}
