
.videoBox{
    position: relative;

    img {
        position: absolute;
    }

    video {
        position: absolute;
        top: 20px;
        left: 23px;
        width: 170px;
        height: 130px;
        border-radius: 40px;
    }

    .nicknameBox{
        position: absolute;
        top: 148px;
        left: 40px;
        width: 130px;
        height: 36px;

        .nicknameBackground{
            position: absolute;
            top: 5px;
            left: 8px;
        }

        .nickname{
            position: absolute;
            width: 130px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            color: white;
        }
    }
}

.test{
    text-decoration: underline;
}