.roomBox {
  width: 260px;
  height: 400px;
  min-width: 300px;
  min-height: 300px;

  text-align: center;

  img {
    margin-top: 21px;
    width: 150px;
    height: 290px;
    object-fit: cover;
  }
}

.roomInfoBox {
  text-align: center;
}

.roomName {
  margin-top: 35px;
  margin-bottom: 7px;
  color: white;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-left: 3px;
  }
}

.memderLength {
  color: white;
}

.modeCheck {
  width: 52px;
  height: 28px;
  padding-top: 4px;
  background-color: #d9d9d9;
  border-radius: 7px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

// modal
.sectionModal {
  width: 500px;
  height: 100px;
  background-color: white;
}
