.timerBox{
  width: 281px;
  height: 100px;
  position: relative;
}

.timerFrame{
  position: absolute;
  top: -124px;
  left: 0px;
}

.timerText{
  position: absolute;
  width: 100%;
  height: 100%;

  font-size: 48px;
  color: white;
  text-align: center;
  line-height: 100px;
}

.fontred{
  color: red;
}