@mixin contentBox {
  width: 610px;
  height: 215px;
  position: absolute;

  margin-top: 15px;
}

.gameBoardSection {
  width: 610px;
  height: 215px;
  position: relative;

  .gameBoardFrame {
    width: 610px;
    height: 215px;
    position: absolute;
  }

  .stageReadyText {
    @include contentBox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 24px;
  }

  .stagePlayText {
    @include contentBox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 24px;

    .stagePlayMission {
      font-size: 48px;
    }
  }

  .stageBtn {
    @include contentBox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 30px;

    color: white;
    font-size: 24px;
  }

  .btnOnemore {
    width: 207px;
    height: 56px;
    color: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
