@import url(./scss/_reset.scss);
@import url(./scss/_variable.scss);

body {
  margin: 0;
  font-family: Pretendard-Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boldfont {
  font-family: Pretendard-Bold;
}