@mixin font-face($name, $file, $weight: noraml, $style: normal) {

  @font-face {
  font-family: "#{$name}";
  src: url('../fonts/#{$file}.ttf') format('truetype');
  font-weight: $weight;
  font-style: $style;
  }
}

@include font-face('Pretendard-Bold', 'Pretendard-Bold');
@include font-face('Pretendard-Medium', 'Pretendard-Medium');
@include font-face('Pretendard-SemiBold', 'Pretendard-SemiBold');

.fontBold {
  font-family: Pretendard-Bold;
}

.fontSemiBold {
  font-family: Pretendard-SemiBold;
}